{{yield}}

{{#if cropperPreview}}
  <div class='CloudinaryImgCrop-preview'></div>
{{/if}}

<div class='CloudinaryImgCrop-img'>
  <img src={{cloudinaryUrl}} alt="cropping image" />
</div>

{{#unless autoSave}}
  <button {{action 'save'}} class='CloudinaryImgCrop-saveButton'>Save</button>
{{/unless}}

{{#each cropperMethods as |cropperMethod| }}
  <button {{action 'triggerCropperMethod' cropperMethod}} class='CloudinaryImgCrop-methodButton'>{{cropperMethod.firstObject}}</button>
{{/each}}
