{{#unless value}}
  <p class='cloudinary-img--placeholder-text'>{{placeholderText}}</p>
{{/unless}}

{{#cloudinary-img
  imageId=value
  alt=alt
  autoSize=false
  height=height
  width=width
  shape=shape
  imgClass=imgClass}}
  {{yield}}
{{/cloudinary-img}}

{{#if isEditable}}
  {{#tool-tip
    hintClass='hint-top-s-med c-tool-tip--static'
    title=title}}
    {{#cloudinary-upload
       title=title
       classNames=uploadClass
       value=value
       onUpload='hideAndCallback'
       progress=progress
     }}
      {{#if faIcon}}
        <i {{bind-attr class=':fa faIcon'}}></i>
      {{else}}
        <i class='fa fa-camera'></i>
      {{/if}}
    {{/cloudinary-upload}}
  {{/tool-tip}}
{{/if}}

{{#unless hideProgress}}
  {{progress-bar current=progress max=100}}
{{/unless}}
